<%- include('partials/_head') -%>
<body>
	<%- include('partials/_header') -%>
		<main>
			<!-- twoColumns -->
			<div class="twoColumns container pt-xl-23 pb-xl-20 pt-lg-20 pb-lg-20 py-md-16 py-10">
				<div class="row mb-6">
					<div class="col-12 col-lg-6 order-lg-1">
						<!-- productSliderImage -->
						<div class="productSliderImage mb-lg-0 mb-4">
						
							<div>
								<img src="/<%= variable_1[0].image%>" alt="image descripstion" class="img-fluid w-100">
							</div>
							<div>
								<img src="http://placehold.it/570x635" alt="image description" class="img-fluid w-100">
							</div>
							<div>
								<img src="http://placehold.it/570x635" alt="image description" class="img-fluid w-100">
							</div>
							<div>
								<img src="http://placehold.it/570x635" alt="image description" class="img-fluid w-100">
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6 order-lg-3">
						<!-- productTextHolder -->
						<div class="productTextHolder overflow-hidden">
							<h2 class="fwEbold mb-2">Pellentesque aliquet</h2>
							<ul class="list-unstyled ratingList d-flex flex-nowrap mb-2">
								<li class="mr-2"><a href="javascript:void(0);"><i class="fas fa-star"></i></a></li>
								<li class="mr-2"><a href="javascript:void(0);"><i class="fas fa-star"></i></a></li>
								<li class="mr-2"><a href="javascript:void(0);"><i class="fas fa-star"></i></a></li>
								<li class="mr-2"><a href="javascript:void(0);"><i class="fas fa-star"></i></a></li>
								<li class="mr-2"><a href="javascript:void(0);"><i class="far fa-star"></i></a></li>
								<li>( 5 customer reviews )</li>
							</ul>
							<strong class="price d-block mb-5 text-green">65.00 $</strong>
							<p class="mb-5">Aenean id ullamcorper libero. Vestibulum imperdiet nibh. Lorem ullamcorper volutpat. Vestibulum lacinia risus.</p>
							<ul class="list-unstyled productInfoDetail mb-5 overflow-hidden">
								<li class="mb-2">Product Code: <span>FA008</span></li>
								<li class="mb-2">Quantity: <span>68 Items</span></li>
								<li class="mb-2">Shipping tax: <span>Free</span></li>
							</ul>
							<ul class="list-unstyled sizeList d-flex flex-wrap mb-4">
								<li class="text-uppercase mr-6">Size:</li>
								<li class="mr-2">
									<label for="check-1">
										<input id="check-1" checked="checked" type="checkbox">
										<span class="fake-input"></span>
										<span class="fake-label">120x100</span>
									</label>
								</li>
								<li class="mr-2">
									<label for="check-2">
										<input id="check-2" type="checkbox">
										<span class="fake-input"></span>
										<span class="fake-label">150x150</span>
									</label>
								</li>
								<li class="mr-2">
									<label for="check-3">
										<input id="check-3" type="checkbox">
										<span class="fake-input"></span>
										<span class="fake-label">S</span>
									</label>
								</li>
								<li class="mr-2">
									<label for="check-4">
										<input id="check-4" type="checkbox">
										<span class="fake-input"></span>
										<span class="fake-label">XL</span>
									</label>
								</li>
								<li class="mr-2">
									<label for="check-5">
										<input id="check-5" type="checkbox">
										<span class="fake-input"></span>
										<span class="fake-label">XXL</span>
									</label>
								</li>
							</ul>
							<ul class="list-unstyled colorList d-flex flex-wrap mb-8">
								<li class="text-uppercase mr-2">Color:</li>
								<li class="mr-3"><a href="javascript:void(0);" class="red rounded"></a></li>
								<li class="mr-3"><a href="javascript:void(0);" class="yellow rounded"></a></li>
								<li class="mr-3"><a href="javascript:void(0);" class="purple rounded"></a></li>
							</ul>
							<div class="holder overflow-hidden d-flex flex-wrap mb-6">
								<input type="number" placeholder="1">
								<a href="https://api.whatsapp.com/send?phone=905394763329&text=*<%= categoryPreVariable.name%>* kategorisine ait *<%= variable_1[0].name%>* ürününü satın almak istiyorum!" target="_blank" class="btn btnTheme btnShop fwEbold text-white md-round py-3 px-4 py-md-3 px-md-4">Sipariş Ver <i class="fas fa-arrow-right ml-2"></i></a>
							</div>
							<ul class="list-unstyled socialNetwork d-flex flex-wrap mb-sm-11 mb-4">
								<li class="text-uppercase mr-5">SHARE THIS PRODUCT:</li>
								<li class="mr-4"><a href="javascript:void(0);" class="fab fa-facebook-f"></a></li>
								<li class="mr-4"><a href="javascript:void(0);" class="fab fa-google-plus-g"></a></li>
								<li class="mr-4"><a href="javascript:void(0);" class="fab fa-twitter"></a></li>
								<li class="mr-4"><a href="javascript:void(0);" class="fab fa-pinterest-p"></a></li>
							</ul>variable_1
							<ul class="list-unstyled productInfoDetail mb-0">
								<li class="mb-2">Categories: <a href="javascript:void(0);">Butter &amp; Eggs,</a> <a href="javascript:void(0);">Fruits,</a> <a href="javascript:void(0);">Milk &amp; Cream,</a> <a href="javascript:void(0);">Vegetables</a></li>
								<li class="mb-2">Tags: <a href="javascript:void(0);"></a> <a href="javascript:void(0);">fruits,</a> <a href="javascript:void(0);">juice</a></li>
								<li>Brand: <a href="javascript:void(0);">KFC</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<!-- paggSlider -->
						<div class="paggSlider">
							<div>
								<div class="imgBlock">
									<img src="/<%= variable_1[0].image%>" alt="image description" class="img-fluid">
								</div>
							</div>
							<div>
								<div class="imgBlock">
									<img src="http://placehold.it/170x190" alt="image description" class="img-fluid">
								</div>
							</div>
							<div>
								<div class="imgBlock">
									<img src="http://placehold.it/170x190" alt="image description" class="img-fluid">
								</div>
							</div>
							<div>
								<div class="imgBlock">
									<img src="http://placehold.it/170x190" alt="image description" class="img-fluid">
								</div>
							</div>
							<div>
								<div class="imgBlock">
									<img src="http://placehold.it/170x190" alt="image description" class="img-fluid">
								</div>
							</div>
							<div>
								<div class="imgBlock">
									<img src="http://placehold.it/170x190" alt="image description" class="img-fluid">
								</div>
							</div>
							<div>
								<div class="imgBlock">
									<img src="http://placehold.it/170x190" alt="image description" class="img-fluid">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- featureSec -->
			<section class="featureSec container overflow-hidden pt-xl-12 pb-xl-29 pt-lg-10 pb-lg-14 pt-md-8 pb-md-10 py-5">
				<div class="row">
					<!-- mainHeader -->
					<header class="col-12  mainHeader mb-5 text-center">
						<h1 class="headingIV playfair fwEblod mb-4">İlgili Ürünler</h1>
					</header>
				</div>
				<div class="row ">
					<% for (let i=0; i<sayi; i++){ %>
						
							<!-- featureCol -->
								<% if (sayi === 1) { %>
								<div class="col-12 col-sm-6 offset-sm-3 col-lg-3 offset-lg-4 featureCol position-relative mb-7">
								<% } %>
								<% if (sayi == 2) { %>
								<div class="col-12 col-sm-6 col-lg-3 offset-lg-2  featureCol position-relative mb-7">
								<% } %>
								<% if (sayi == 3) { %>
								<div class="col-12 col-sm-4 col-lg-3 offset-lg-1  featureCol position-relative mb-7">
								<% } %>
								<% if (sayi === 4) { %>
								<div class="col-12 col-sm-4 col-lg-3   featureCol position-relative mb-7">
								<% } %>
								<div class="border">
									<div class="imgHolder position-relative w-100 overflow-hidden">
										<a href="./<%= Relatedproducts[sayilar[i]].slug %>"><img src="/<%= Relatedproducts[sayilar[i]].image%>" alt="image description" class="img-fluid w-100"></a>
									</div>
									<div class="text-center py-5 px-4">
										<span class="title d-block mb-2"><a href="shop-detail.html"><%= Relatedproducts[sayilar[i]].name%></a></span>
										<span class="price d-block fwEbold"><del>100 $</del> <%= Relatedproducts[sayilar[i]].price%> TL</span>
										<span class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block">Sale</span>
									</div>
								</div>
							</div>
					<%}%> 
				</div>
			</section>

		<!-- footer -->
		<%- include('partials/_foother') -%>
	</div>
	<!-- Scripts -->
	<%- include('partials/_scripts') -%>
</body>
</html>